html, body {
	background-color: #f9f9f9;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

/*need to make edits for these tags*/ 
em {
	font-style: oblique;
}
 
strong {
	font-style: bold;
}
 
img {
	width: 100%;
	height: auto;
}
 
h1, h2, h3, h4, h5 {
	font-family: 'proxima-nova', sans-serif;
	font-style: normal;
}
 
h2 {
	text-transform: capitalize;
	font-size: 1.875em;
	padding: 0 0 1% 0;
	color: #001833;
	font-weight: 800;
}

/* navigation */
span{
	float:right;
	color: #ffffff;
	padding: 10px;
	font-size:40px;
	cursor:pointer;

}

.sidenav {
	font-family:'proxima-nova', sans-serif;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #818181;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    letter-spacing: .05em;

}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    display: block;
    transition: 0.3s;

}

.sidenav a:hover {
    color: #E0CCC8;
   
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 35px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}


}

/*Background image*/
header {
	background: linear-gradient( rgba(224, 204, 200, 1.0), rgba(224, 204, 200, 0.80)), /* header, image */
	url("img/fstockphotosb-20.jpg");
	background-size: cover;
	background-position: center;
	width: 100%;
	height: auto;
	/* Set a specific height */
    height: 900px; 
    padding: 0;
    margin: 0;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/*intro statement*/
.intro {
	max-width: 100%
	margin: 0 auto;
	padding: 25% 10px;
}

.intro h1 {
	font-size: 3em;
	text-align: center;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	font-weight: 600;
	line-height: 1.5em;

}

.intro h1.box{
	width: 295px;
    padding: 30px;
    margin: auto; 
    border-bottom: 5px solid;   
   
}
 
.intro p {
	font-size: 2em;
	text-align: center;
	color: #fff;
	font-weight: 300;
	font-family: proxima-nova, sans-serif;
	letter-spacing: 0.09em;
}

/*animated arrow down visual*/
.wrapper-1 {
	max-width: auto;
	margin: 0 auto;
	font-family: proxima-nova, sans-serif;
	-webkit-animation-delay: 4s;
	/* Chrome, Safari, Opera */
	animation-delay: 2s;
}
 
.arrow-down {
	width:100%;
	margin: 0 auto;
	text-align: center;
}

.arrow-down::after {
	content: "";
	width: 40px;
	height: 40px;
	position: absolute;
	margin: auto;
	top: 0;
	right: 0;
	bottom: -80%;
	left: 0;
	border-right: 8px solid #fff;
	border-bottom: 8px solid #fff;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	-webkit-animation: 3s arrow infinite ease;
	animation: 3s arrow infinite ease;
}

@-webkit-keyframes arrow {
	0%, 100% {
		top: 50px;
	}
	 50% {
	 	top: 80px;
	 }
}

@keyframes arrow {
	0%, 100% {
		top: 50px;
	}
	 50% {
	 	top: 80px;
	 }
}

/*about section*/
.about {
	padding: 4% 0;
}

.about h2 {
	text-align: center;
	color: #616569;
}

.about p {
	font-family: proxima-nova, sans-serif;
	font-style: normal;
	font-weight: 300;
	line-height: 1.8;
	color: #616569;
	letter-spacing: .01em;
	margin: 0 auto;
	margin-left: 10%;
    margin-right: 10%;
	font-size: 1.3em;
	padding: 2% 0;
}
 
.about p a{
	color: #E1CCC9;
	border-bottom: 2px solid;
}

.avatar {
	display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

/*portfolio*/
.work {
	padding: 4% 0;
}

.work h2 {
	text-align: center;
	color: #616569;
}

.work p {
	font-family: proxima-nova, sans-serif;
	text-align: center;
	color: #616569;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 1rem;
}

.responsive-image {
  max-width: 100%;
}

.cell img {
  display: block;
}

@media screen and (min-width: 600px) {
  .grid {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .cell {
    width: 50%;
  }
}

@media screen and (min-width: 1000px) {
  .cell {
    width: calc(100% / 2);
  }
}

.cell {
  margin: 1rem;
}

@media screen and (min-width: 600px) {
  .cell {
    width: calc(50% - 2rem);
  }
}

@media screen and (min-width: 1000px) {
  .cell {
    width: calc(50% - 2rem);
  }
}

/*contact section*/
.contact {
	width: 100%;
	background-color: #011833;
	padding: 5% 0;
	margin-top: 5%;
	clear: both;
}
 
.contact-content {
	max-width: 100%;
	margin: 0 auto;
	text-align: center;
}
 
.contact-content h4 {
	font-size: 1.5em;
	padding: 1% 0;
	color: #fff;
	font-weight: 600;
	letter-spacing: 0.04em;
}
 
.contact-content a {
	color: #E0CCC8;
	text-decoration: none;
}

 
 
/*.image-divider {
	padding: 15% 0;
	background: url(https://images.pexels.com/photos/238118/pexels-photo-238118.jpeg?h=350&auto=compress&cs=tinysrgb);
	background-size: cover;
	background-position: center top;
}*/

footer {
 background-color: #E0CCC8;
 color: #fff;
 padding: 0;
 padding-bottom: 5%;
 margin: 0;
 width: 100%;
 height: 100px;
}

.footer-content {
 max-width: 320px;
 padding:2% 0;
 margin: 0 auto;
 text-align: center;
 font-family: 'proxima-nova', sans-serif;
 font-style: normal;
 font-weight: 300;
 line-height: 1.4;
 color: #fff;
 letter-spacing: .03em;
 font-size: 1em;
}

 
.social li {
 display: inline;
 float: none;

}
 
.social li a {
 color: #fff;
 padding: 0.5em;
 font-size: 1.8em;
 font-weight: 600;
}
 
.social li a:hover {
 color: #E0CCC8;
}

/*scroll to top icon*/
.to-top {
	display: none;
	position: fixed;
	bottom: 10px;
	right: 10px;
	color: #818181;
	padding: 9px 12px;
	border-radius: 50%;
	cursor: pointer;
	font-size: 40px
}

.to-top:hover {
	color: #011833;
}


