html, body {
	background-color: #f9f9f9;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

/*need to make edits for these tags*/ 
em {
	font-style: oblique;
}
 
strong {
	font-style: bold;
}
 
img {
	width: 100%;
	height: auto;
}
 
h1, h2, h3, h4, h5, p{
	font-family: 'proxima-nova', sans-serif;
	font-style: normal;
}
 
h2 {
	text-transform: capitalize;
	font-size: 1.875em;
	padding: 0 0 1% 0;
	color: #001833;
	font-weight: 800;
}

/* navigation */
span{
	float:right;
	color: #ffffff;
	padding: 10px;
	font-size:40px;
	cursor:pointer;

}

.sidenav {
	font-family:'proxima-nova', sans-serif;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #50595C;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    letter-spacing: .05em;

}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    display: block;
    transition: 0.3s;

}

.sidenav a:hover {
    color:#FFD8D8;
   
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 35px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}


}

/*Background image*/
header {
	background: linear-gradient( rgba(80, 89, 92, .8), rgba(0, 0, 0, .8)), /* header, image */
	url("img/fstockphotosb-20.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 800px;
    overflow: hidden;
 }

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) {
  	#background{
  		 width: 375px;
        height: 667px;

  	}
  }


/*intro statement*/
div.intro {
    height: 10em;
    position: relative 
    margin: 0;
    position: absolute;
    top: 25%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) 
}



/*animated arrow down visual*/
.wrapper-1 {
	max-width: auto;
	margin: 0 auto;
	font-family: proxima-nova, sans-serif;
	-webkit-animation-delay: 2s;
	/* Chrome, Safari, Opera */
	animation-delay: 2s;
}
 
.arrow-down {
	width:100%;
	margin: 0 auto;
	text-align: center;
}

.arrow-down::after {
	content: "";
	width: 40px;
	height: 40px;
	position: absolute;
	margin: auto;
	top: 0;
	right: 0;
	bottom: -80%;
	left: 0;
	border-right: 5px solid #FFD8D8;
	border-bottom: 5px solid #FFD8D8;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	-webkit-animation: 3s arrow infinite ease;
	animation: 3s arrow infinite ease;
}

@-webkit-keyframes arrow {
	0%, 100% {
		top: 50px;
	}
	 50% {
	 	top: 80px;
	 }
}

@keyframes arrow {
	0%, 100% {
		top: 50px;
	}
	 50% {
	 	top: 80px;
	 }
}

/*about section*/
.about {
	padding: 4% 0;
}

.about h2 {
	text-align: center;
	color: #616569;
}

.about p {
	font-family: proxima-nova, sans-serif;
	font-style: normal;
	font-weight: 300;
	line-height: 1.8;
	color: #616569;
	letter-spacing: .01em;
	margin: 0 auto;
	margin-left: 10%;
    margin-right: 10%;
	font-size: 1.3em;
	padding: 2% 0;
}
 
.about p a{
	color: #E1CCC9;
	border-bottom: 2px solid;
}

.avatar {
	display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

/*portfolio*/
.work {
	padding: 4% 0;
}

.work h2 {
	text-align: center;
	color: #616569;
}

.work p {
	font-family: proxima-nova, sans-serif;
	text-align: center;
	color: #616569;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 1rem;
}

.responsive-image {
  max-width: 100%;
}

.cell img {
  display: block;
}

@media screen and (min-width: 600px) {
  .grid {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .cell {
    width: 50%;
  }
}

@media screen and (min-width: 1000px) {
  .cell {
    width: calc(100% / 2);
  }
}

.cell {
  margin: 1rem;
}

@media screen and (min-width: 600px) {
  .cell {
    width: calc(50% - 2rem);
  }
}

@media screen and (min-width: 1000px) {
  .cell {
    width: calc(50% - 2rem);
  }
}

/*contact section*/
.contact {
	width: 100%;
	background-color: #302939;
	padding: 5% 0;
	margin-top: 5%;
	clear: both;
}
 
.contact-content {
	max-width: 50%;
	margin: 0 auto;
	text-align: center;
}
 
.contact-content h2 {
	padding: 1% 0;
	color: #fff;
	font-weight: 600;
	letter-spacing: 0.04em;
}

.contact-content p {
	font-size: 1em;
	color: #fff;
	text-decoration: none;
}
.contact-content a {
	color: #fff;
	text-decoration: none;
}


@media (min-width: 12.5em) {
  .contact {
    white-space: normal;
    text-align: center;
    color: #fff;
    margin-bottom: 0;
  }
}

@media (min-width: 47.5em) {
  .contact {
    white-space: nowrap;
  }
}

.contact-button {
  border: 2px white solid;
  border-radius: 10px;
  font-family: 'proxima-nova', sans-serif;
  width: 100px;
  display: block;
  margin: 0 auto;
  text-align: center;
  white-space: nowrap;
  font-weight: 500;
}

@media (min-width: 10em) {
  .contact-button {
    padding: 1em;
    width: 75%;
    margin-top: 1.5em;
  }
}

@media (min-width: 30em) {
  .contact-button {
    width: 40%;
  }
}

@media (min-width: 47.5em) {
  .contact-button {
    padding: 1em 3em;
    width: 30%;
  }
}

@media (min-width: 63em) {
  .contact-button {
    width: 20%;
    margin-top: 2em;
  }
}

.contact-button:hover {
  background-color: #FFF;
  color: #50595C;
}



 
 
/*.image-divider {
	padding: 15% 0;
	background: url(https://images.pexels.com/photos/238118/pexels-photo-238118.jpeg?h=350&auto=compress&cs=tinysrgb);
	background-size: cover;
	background-position: center top;
}*/

footer {
 background-color: #FFD8D8;
 color: #fff;
 padding: 0;
 padding-bottom: 5%;
 margin: 0 auto;
 width: 100%;
 height: 100px;
}

.footer-content {
 max-width: 320px;
 padding:2% 0;
 margin: 0 auto;
 text-align: center;
 font-family: 'proxima-nova', sans-serif;
 font-style: normal;
 font-weight: 300;
 line-height: 1.4;
 color: #50595C;
 letter-spacing: .03em;
 font-size: 1em;
}

 
.social li {
 text-align: center;
 float: none;
 display: inline;

}
 
.social li a {
 color: #fff;
 padding: 0px 40px 0px 0px;
 font-size: 1em;
 font-weight: 500;
}
 
.social li a:hover {
 color:#FFD8D8;
}

/*scroll to top icon*/
.to-top {
	display: none;
	position: fixed;
	bottom: 10px;
	right: 10px;
	color: #50595C;
	padding: 9px 12px;
	border-radius: 50%;
	cursor: pointer;
	font-size: 40px
}

.to-top:hover {
	color: #011833;
}


